<?xml version="1.0"?>
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="ERPConnectionString" connectionString="Password=Fadel1@34$#;Persist Security Info=True;User ID=sa;Initial catalog= SEDERERP; Data Source=89.116.28.159;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="localhost" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="strConn" value="Password=Fadel1@34$#;Persist Security Info=True;User ID=sa;Initial catalog= SEDERERP; Data Source=89.116.28.159; Connection Timeout=120"/>
    <add key="Company" value="AEC Logic Pvt Ltd"/>
    <add key="CompanyAddress" value="Plot #65 ,Sagar Society Street #1, Banjara Hills Road #2, Hyderabad-34, Andhra Pradesh, INDIA"/>
    <add key="Resumepath" value="D:/Venkat/BSSProjects/HMS/Resumes/"/>
    <add key="SiteUrl" value="http://www.bssprojects.com/HMS/"/>
    <add key="SMTPServer" value="mail.bssprojects.com"/>
    <add key="EmailSSLValue" value="true"/>
    <add key="WebSiteID" value="http://www.democompany.com"/>
    <add key="Web" value="www.bssprojects.com"/>
    <add key="AdminEmailID" value="hr@bssprojects.com"/>
    <add key="RegEmailID" value="hr@bssprojects.com"/>
    <add key="SenderName" value="BSSPROJECTS"/>
    <add key="ModuleId" value="9"/>
    <add key="SMSUserID" value="kalandoor"/>
    <add key="SMSPassword" value="35457385"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="120000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="DateFormat" value="dd/MM/yyyy"/>
    <add key="DateDisplayFormat" value="dd MMM yyyy"/>
    <add key="CompanyID" value="1"/>
    <add key="SMSStatus" value="on"/>
    <add key="City" value="Hyderabad"/>
    <add key="State" value="Andhra Pradesh"/>
    <add key="Country" value="INDIA"/>
    <add key="CompanyNamePart1" value="Demo"/>
    <add key="CompanyNamePart2" value="Company"/>
    <add key="DomainName" value="ttd.aeclogic.com"/>
    <add key="clearssid" value="mmsntnmsntomsntpmsntqmsntamsntbmsntcmsntdmsntemsnthms"/>
    <add key="ExcelConnString" value="Provider=Microsoft.ACE.OLEDB.12.0; Data Source='{0}'; Extended Properties=Excel 12.0;"/>
    <add key="CompanyClient" value="Seder Construction Company"/>
    <add key="HeadOffice" value="1"/>
    <add key="POLevel1" value="10000"/>
    <add key="POLevel2" value="30000"/>
    <add key="POcurrancy" value="INR"/>
    <add key="PoPrintType" value="2"/>
    <add key="PONUM" value="1"/>
    <add key="PageSize" value="10"/>
    <add key="ReportsUserName" value="Administrator"/>
    <add key="ReportsPassword" value="Admin23$"/>
    <add key="ReportURL" value="http://192.168.10.3/ReportServer"/>
    <add key="POCompanyName" value="Seder  Construction Co."/>
    <add key="DecimalPlaces" value="N2"/>
    <add key="CostCenterID" value="1"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Includes">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="AECERPReports">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <browserCaps>
      <case match="Chrome/(?'version'(?'major'\d+)(?'minor'\.\d+)\.\d+.\d+)\sSafari/\d+\.\d+">browser=Chrome version=${version} majorversion=${major} minorversion=${minor}</case>
    </browserCaps>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <!--  <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        
          <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" /> -->
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <!--<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
  </system.web>
  <system.web>
    <httpRuntime maxRequestLength="10240" executionTimeout="300" requestValidationMode="2.0"/>
    <sessionState timeout="60" mode="InProc"/>
    <customErrors mode="RemoteOnly" defaultRedirect="Logon.aspx">
      <error statusCode="404" redirect="Logon.aspx"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" enableEventValidation="true" validateRequest="false">
      <controls>
        <add tagPrefix="ajax" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <httpHandlers>
      <add path="ajax/*.ashx" verb="POST,GET" type="Ajax.PageHandlerFactory, Ajax"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <authentication mode="Forms">
      <forms name="Authen" protection="All" timeout="60" loginUrl="Logon.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <machineKey validationKey="6995A8229338902E84993EEE743BD87C370606B987896627ECF9AE0B856FAC5B17783C86B3944D431129B0DAD44CC29D205F0EDE65D185B8CFA2CB23FAF2515F" decryptionKey="B534EA6BCA7B01B1D13449BCCE0605260611963101CA536E836800EC5A56BE68" validation="SHA1" decryption="AES"/>
    <!--<authentication mode="Forms">
      <forms loginUrl="home.aspx" name="FlashUpload" path="/" ></forms>
    </authentication>-->
    <membership defaultProvider="FlashUploadProvider">
      <providers>
        <add name="FlashUploadProvider" type="CustomMembership"/>
      </providers>
    </membership>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="aecajax" path="ajax/*.ashx" verb="POST,GET" preCondition="integratedMode" type="Ajax.PageHandlerFactory, Ajax"/>
      <!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="Home.aspx"/>
        <add value="AdminDefault.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OMSServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BAPI_MATERIAL_GET_ALLBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEmployees" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BAPI_MATERIAL_GET_ALLBinding1"/>
        <binding name="OMSServiceSoap1"/>
        <binding name="ServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ttd.aeclogic.com/OMS/OMSService.asmx" binding="basicHttpBinding" bindingConfiguration="OMSServiceSoap" contract="OMSWebService.OMSServiceSoap" name="OMSServiceSoap"/>
      <endpoint address="http://91.213.103.178:8000/sap/bc/soap/rfc" binding="basicHttpBinding" bindingConfiguration="BAPI_MATERIAL_GET_ALLBinding" contract="SAPWebService.BAPI_MATERIAL_GET_ALLPortType" name="BAPI_MATERIAL_GET_ALLPortType"/>
      <endpoint address="http://localhost:2539/Employees.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployees" contract="TestGetEmp.IEmployees" name="BasicHttpBinding_IEmployees"/>
      <endpoint address="http://91.213.103.178:8000/sap/bc/soap/rfc" binding="basicHttpBinding" bindingConfiguration="BAPI_MATERIAL_GET_ALLBinding1" contract="SAPWebService.BAPI_MATERIAL_GET_ALLPortType" name="BAPI_MATERIAL_GET_ALLPortType1"/>
      <endpoint address="http://cloud.aeclogic.com/OMS/OMSService.asmx" binding="basicHttpBinding" bindingConfiguration="OMSServiceSoap1" contract="OMSWebService.OMSServiceSoap" name="OMSServiceSoap1"/>
      <endpoint address="http://www.smscountry.com/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="SMSService.ServiceSoap" name="ServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>